/* SETS APP TO FILL VIEPORT AND DIVIDE TOPNAV AND OTHER PAGES*/
.appContainer{
    height: 100vh;
    display: flex;
    flex-direction: column; 
    outline-offset: -4px;

    position: relative;
}
.topnavContainer{

    flex: 0 0 auto;
    padding: 5px;
}
.pageContainer{
  
    flex: 1;
    min-height: 0;
}