.replyIcon{
    width: 100%;
    display: flex; 
    justify-self: flex-start;
    transform: translateX(-40px);
}
.dislike{
    transform: rotateX(180deg);
}

/*LOADING CSS*/
.loading{
    
    padding: 20px;
    width: min-content;
    border: 5px solid transparent;
    border-radius: 25px;
    border-top: 5px solid rgb(125, 125, 125);
    animation:  spinner 1s  infinite;
}
@keyframes spinner {
    to{
        transform: rotate(360deg);
    }
}