.mainContainer{
    background: transparent;
    height: 100%;
    color: #010101;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}
/* ====== LOGIN =====*/

.formContainer{
    flex: 1;
    border-left: 1px solid #c7c5c5;
    position: relative;
    display: flex;

}
.loginform{
    display: grid;
    position: relative; /* to allow for absolute positioning for child elements such as eye*/
    grid-template-columns: 1fr 2fr 8fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas:
    '. emailLabel EmailField .'
    '. passwordLabel passwordField eye'
    '. login login .'
    '. github github .'
    '. guest guest .'
    '. register register register'
    ;
    gap: 10px;
    align-self: center;
}
.loginform input{
    background-color: #dddddd;
    padding: 5px;
    border: none;
    color: #000;
}

.eye{
    /*border: 1px solid red;*/
    height: 100%;
    grid-area: eye;
    position: absolute;
    left: -30px;
    
    display: flex;
    align-items: center;
}
.github{
    grid-area: github;
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px
}
.github:hover{
    background-color: #fdfcfc;
    border-radius: 20px;
    outline: 1px solid #c7c5c5
    
}
.guestOpt{
    grid-area: guest;
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px
}
.guestOpt:hover{
    background-color: #fdfcfc;
    border-radius: 20px;
    outline: 1px solid #c7c5c5;
    
}
.register >b:hover{
    padding: 10px ;
    background-color: #fdfcfc;
    border-radius: 20px;
    outline: 1px solid #c7c5c5;
}
/* ===== Local Register =====*/
.registerForm{
    flex: 1;
    position: relative;
    display: flex;
  
}
.localRegisterForm{
    align-self: center;
    display: grid;
    position: relative; /* to allow for absolute positioning for child elements such as eye*/
    grid-template-columns: 1fr 2fr 8fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
    grid-template-areas:
    '. emailLabel EmailField .'
    '.   nameLabel nameField .'
    '. passwordLabel passwordField eye'
    '. confpasswordLabel confpasswordField .'
    '. login login .'
    ;
    gap: 10px;
    align-self: center;
}
@media (max-width: 780px){
    .mainContainer{
        flex-direction: column;
        width: 100%;
        height: 100svh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .formContainer{
        margin-top: 70%;
        flex: 0 0 auto;
        width: 100%;
        justify-content: center;
        min-height: 100svh;
        border-left: none;
    }
    .formContainer input{
        padding: 20px;
    }
    .loginform{
        width: 90%;
        text-align: center;
        grid-template-columns: 1fr 2fr 8fr 1fr;
        grid-template-rows: 1fr 2fr 1fr 2fr 2fr;
        grid-template-areas:
        '. emailLabel emailLabel  .'
        '. EmailField EmailField  .'
        '. passwordLabel passwordLabel .'
        '. passwordField passwordField eye'
        '. login login .'
        '. github github .'
        '. guest guest .'
        '. register register register'
        ;
    }
    .registerForm{
        width: 100%;
        padding-top: 30px;
        margin-bottom: 50px;
    }
}