.mainContainer{
    background-color: #f8f8f8dd;
    background: 
        linear-gradient(
            90deg,
            rgba(248, 248, 248, 1) 0%,
            rgba(245, 245, 245, 1) 100%
    );
    height: 100%;
    color: #010101;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formContainer{
    background-color: #ffffff;
    border: 1px solid #010101;
    display: flex;
    align-self: center;

    width: fit-content;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 7px 12px 4px #bab9b633;
}
.loginform{
    display: grid;
    position: relative; /* to allow for absolute positioning for child elements such as eye*/
    grid-template-columns: 1fr 2fr 8fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas:
    '. emailLabel EmailField .'
    '. passwordLabel passwordField eye'
    '. login login .'
    '. github github github'
    '. register register register'
    ;
    gap: 10px;
    align-self: center;
}
.loginform input{
    background-color: #dddddd;
    padding: 5px;
    border: none;
    color: #000;
}

.eye{
    grid-area: eye;
    position: absolute;
    left: -30px;
    top: 3px;
}
.github{
    grid-area: github;
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 10px;
}